{{>layout/header}}

<div class="container-fluid">

{{#posts}}


<div class="row justify-content-center text-dark">

	<div class="container">
	  <div class="card">
	    <div class="card-body">
	      <h4 class="card-title"><a href="/posts/detail/{{id}}">Title : {{title}}</a></h4>
	      <p class="card-text">Writer : {{author}}</p>
	      
	    </div>
	  </div>
	  <br>
	</div>
 
</div>

{{/posts}}
</div>	
{{>layout/footer}}